:root {
  --MainColor : #f5f5f5;
  --SecondaryColor : #e5e5e5;
  --NavBg : linear-gradient(180deg, #0f488e, #17195e);
  --NavHov : #0d2e60;
  --NavText : #a2b1c3;
  --BgColor : #f7f9fc;
  --NavWidth : 275px;
  --SoftColor : #F8F9FD;
}


.App{
  display: flex;
  background-color: var(--SoftColor);
  height: 100%;
  width: 100%;
  display: flex;
  
}


/* =========================================================== */
/* Home                                                      */
/* =========================================================== */




.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--MainColor);
  margin-left: var(--NavWidth);
}

.Home *{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


/* =========================================================== */
/* NewSession                                                      */
/* =========================================================== */


.NewSession{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--MainColor);
  margin-left: var(--NavWidth);
}

.NewSession *{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.NewSession .Title{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  color: var(--NavText);
  background-color: white;
}

.NewSession .Title .Reset{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;

  background-color: var(--SoftColor);
  cursor: pointer;
}

.NewSession .Title .Reset button{
  display: flex;
  border: none;
  color: black;
  background-color: white;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
             rgba(17, 17, 26, 0.1) 0px 0px 8px;

}


.NewSession .Wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--MainColor);
  /* margin-left: var(--NavWidth); */
}

.NewSession .Wrapper .Left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: var(--MainColor);
}

.NewSession .Wrapper .Right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: white;
}

.NewSession .Wrapper .Right .Top{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--NavText);
  background-color: white;
}


.NewSession .Wrapper .Right .Top .Container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--NavText);
  background-color: white;
}

.NewSession .Wrapper .Right .Top .Container .Stream{
  display: flex;
  /* width: 500px;
  height: 500px; */
  width: 500px;
  aspect-ratio: 16 / 9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  /* box-shadow: -12px 12px 10px rgba(70,70,70,0.75),
              10px 10px 10px  rgba(255,255,255,0.4);  */

  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
             rgba(17, 17, 26, 0.1) 0px 0px 8px;

}

.NewSession .Wrapper .Right .Top .Container .Stream img{
  display: flex;
  width: 100%;
  height: 100%;

}




/* =========================================================== */
/* Navbar                                                      */
/* =========================================================== */


.Navbar {

  /* background-color: wheat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--MainColor); 
  height: 50px;
  width: 100%;
  z-index: 1; */
  /* background-color :linear-gradient(180deg, #0f488e, #17195e); */

  height: 100%;
  /* width: ; */
  /* min-width: 140px; */
  /* max-width: 200px; */
  width: var(--NavWidth);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: var(--NavBg);
  transition: .5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: monospace;
  font-size: 20px;

}

.Navbar *{
 transition: all ease 0.35s;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Navbar .Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Navbar .Container .Top  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  top:0;
  /* background-color: var(--SecondaryColor); */
}

.Navbar .Container .Top a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

.Navbar .Container .Top .Logo{
  display: flex;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.Navbar .Container .Center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  top:0;
  /* background-color: var(--SecondaryColor); */
}

.Navbar .Container .Center .Links{
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 20p; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  top:0;

  /* background-color: var(--SecondaryColor); */
}


.Navbar .Container .Center .Links .Link a{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left : 20px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* border-radius: 10px; */
  width: 80%;
  height: 50px;
  top:0;
  text-decoration: none;
  color: var(--NavText);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  /* padding-right: 20px; */
  transition: all ease 0.35s;
  font-size: 15px;
  /* border-radius: 10px; */
  /* background-color: var(--SecondaryColor); */
}

.Navbar .Container .Center .Links .Link{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  top:0;
  text-decoration: none;
  color: var(--NavText);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  transition: all ease 0.35s;
  font-size: 15px;
}

.Navbar .Container .Center .Links .Logo{

  display: flex;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Navbar .Container .Center .Links .Logo img{
  filter: invert(81%) sepia(13%) saturate(378%) hue-rotate(176deg) brightness(85%) contrast(89%);
  transition: all ease 0s;
}

.Navbar .Container .Center .Links .Link .News{
  
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
    margin-right: 15px;
    font-size: 13px;
    background-color: none;
    color:transparent;
    padding: 4px 15px 4px 15px;
    border-radius: 15px;
}

.Navbar .Container .Center .Links .Link:hover{
  background-color: var(--NavHov);
  color: white;
  transition: all ease 0.35s;

}

.Navbar .Container .Center .Links .Link:hover> .Logo img{
 filter: invert(82%) sepia(41%) saturate(4137%) hue-rotate(116deg) brightness(97%) contrast(98%); 
 transition: all ease 0s;
}

.Navbar .Container .Center .Links .Link:hover>.News{
  background-color: #1AC0F7;
  color: white;
  transition: all ease 0.35s;
}


.selected + .News{ 
  background-color: #1AC0F7;
  color: white !important;
  transition: all ease 0.35s;
}

/* .selected{
  color:white !important;
  background-color: var(--NavHov);
} */

 /* .Link a:is(.selected) {
  color:white !important;
  background-color: var(--NavHov)!important;
}  */

/* .Link a:is(.selected)> .Link{
  background-color: var(--NavHov)!important;
} */

.Link:has( .selected) {
  color:white !important;
  background-color: var(--NavHov) !important;
}

.selected{
  color:white !important;
  /* background-color: var(--NavHov) !important; */
}
/* 
.Link a:is(.selected)>.Logo img{
  filter: invert(82%) sepia(41%) saturate(4137%) hue-rotate(116deg) brightness(97%) contrast(98%); 
  transition: all ease 0s;
} */


/* =========================================================== */
/* Other                                                   */
/* =========================================================== */

